/* Masonry Grid CSS */
.my-masonry-grid {
    display: flex;
    width: auto;
  }

  .my-masonry-grid_column {
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { 
    /* margin-bottom is handled by tailwind class in component */
  }
